@import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

body {
	background: #ffffff;
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
	padding-top: 70px;
}

/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	line-height: inherit;
}

h1 {
	color: #252525;
	font-size: 3em;
	line-height: normal;
}

h2 {
	color: #353535;
	font-size: 2em;
	padding-bottom: 10px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0;
}

h3,
h3 a {
	color: #454545;
}

p {
	color: #757575;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
}

/*---------------------------------------
     GENERAL               
  -----------------------------------------*/
html {
	-webkit-font-smoothing: antialiased;
}

a {
	color: #252525;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-decoration: none !important;
}

a,
input,
button,
.form-control {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

a:hover,
a:active,
a:focus {
	color: #1abc9c;
	outline: none;
}

.section-title {
	padding-bottom: 40px;
}

.section-title h2 {
	margin: 0;
}

.section-title small {
	display: block;
	color: #f9e9e9;
}

.overlay {
	background: rgba(20, 20, 20, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

small {
	margin-top: .6em;
}

.entry-form {
	background: #252020;
	border-radius: 100%;
	text-align: center;
	padding: 6em;
	width: 450px;
	height: 450px;
}

.entry-form h2 {
	color: #ffffff;
	margin: 0;
}

.entry-form .form-control {
	background: transparent;
	border: 0;
	border-bottom: 1px solid;
	border-radius: 0;
	box-shadow: none;
	height: 45px;
	margin: 10px 0;
}

.entry-form .submit-btn {
	background: #ffffff;
	border-radius: 50px;
	border: 0;
	color: #252020;
	width: 50%;
	height: 50px;
	margin: 30px auto;
	margin-bottom: 10px;
}

.entry-form .submit-btn:hover {
	background: #3f51b5;
	color: #ffffff;
}

section {
	position: relative;
	padding: 100px 0;
}

#skills {
	background-image: linear-gradient(to bottom, #1abc9c, #2ecc71);
	z-index: -2;
}

#projects {
	background-image: linear-gradient(to bottom, #2ecc71, #3498db);
}

#experience {
	background-image: linear-gradient(to bottom, #3498db, #9b59b6);
}

#contact {
	background-image: linear-gradient(to bottom, #9b59b6, #e67e22);
}

#skills,
#experience {
	text-align: center;
}

#google-map iframe {
	border: 0;
	width: 100%;
	height: 390px;
}

/*---------------------------------------
     BUTTONS               
  -----------------------------------------*/
.section-btn {
	margin-top: 1.5em;
	background: transparent;
	border-radius: 50px;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: inherit;
	font-weight: normal;
	padding: 15px 30px;
	transition: 0.5s;
}

.section-btn:hover {
	background: #ffffff;
	border-color: transparent;
}

/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #ffffff;
}

.spinner {
	border: 1px solid transparent;
	border-radius: 3px;
	position: relative;
}

.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 45px;
	height: 45px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 1px solid #575757;
	border-top-color: #ffffff;
	animation: spinner .9s linear infinite;
}

@-webkit-keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

/*---------------------------------------
      MENU              
  -----------------------------------------*/
section.navbar.custom-navbar.navbar-fixed-top {
	background: #efefef;
}

.custom-navbar {
	background: #ffffff;
	border-bottom: 0;
	-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	padding: 12px 0;
	margin-bottom: 0;
	padding: 0;
}

.custom-navbar .navbar-brand {
	color: #454545;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	padding: 0 15px;
}

.custom-navbar .navbar-brand img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.custom-navbar .navbar-nav.navbar-nav-first {
	margin-left: 8em;
}

.custom-navbar .navbar-nav.navbar-right li a {
	padding-right: 12px;
	padding-left: 12px;
}

.custom-navbar .navbar-nav.navbar-right li a .fa {
	background: #1abc9c;
	border-radius: 100%;
	color: #ffffff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	margin-right: 5px;
}

.custom-navbar .nav li a {
	line-height: 40px;
	color: #575757;
	padding-right: 22px;
	padding-left: 22px;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
	background-color: transparent;
}

.custom-navbar .nav li a:hover {
	background-color: #7bcebd;
	color: #ffffff;
}

.custom-navbar .nav li.active>a {
	background-color: #1abc9c;
	color: #ffffff;
}

.custom-navbar .navbar-toggle {
	border: none;
	padding-top: 10px;
}

.custom-navbar .navbar-toggle {
	background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
	background: #252525;
	border-color: transparent;
}

/*---------------------------------------
      HOME  & SLIDER            
  -----------------------------------------*/
#home {
	padding: 0;
	background-image: url(../images/slider-image2.jpg);
	background-position: left;
	background-size: cover;
}

#home h1 {
	color: #ffffff;
}

#home h3 {
	color: #f9f9f9;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding-bottom: .3em;
}

@media (min-width: 768px) {
	.home-slider .col-md-6 {
		padding-left: 0;
	}
}

.w3l-banner-grids {
	margin: 8em 0;
	padding: 2em 1em;
	background: rgba(255, 255, 255, 0.18);
}

.w3ls-banner-right {
	float: right;
}

.w3ls-banner-left {
	float: left;
}

.w3ls-banner-left-info {
	padding: 1em 0;
	border-bottom: 1px dashed #fff;
}

.w3ls-banner-left-info h4,
.social-info h4 {
	font-size: 1.5em;
	margin: 0;
	font-family: 'Roboto Slab', serif;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}

.w3ls-banner-left-info p {
	font-size: 1.1em;
	margin: 1em 0 0 0;
	color: #f1f1f1;
}

.w3ls-banner-left-info p a {
	font-size: .9em;
	margin: 1em 0 0 0;
	color: #cecece;
	text-decoration: none;
}

.w3ls-banner-left-info p a:hover {
	color: #FF9800;
}

.w3ls-banner-left-info:nth-child(5) {
	border: none;
}

.banner-right-img {
	float: left;
	width: 30%;
}

.banner-right-img img {
	width: 100%;
	border: solid 8px #ffffff;
}

.banner-right-info {
	float: right;
	width: 65%;
}

.banner-right-info h2 {
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight: 600;
	margin: 0;
	line-height: 1.5em;
}

.banner-right-info p {
	color: #f1f1f1;
	font-size: 1em;
	margin: 1em 0 0 0;
	line-height: 1.8em;
}

.w3-button {
	margin: 3em 0 0 0;
}

.w3-button-info {
	line-height: inherit !important;
}

.w3-button a {
	padding: .5em 2em;
	color: #ffffff !important;
	text-transform: uppercase;
	background: #FF9800;
	font-weight: 700 !important;
	text-decoration: none !important;
	line-height: initial !important;
	font-size: .9em !important;
	margin: 0 !important;
}

.w3-button a:focus {
	outline: none;
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-sweep-to-bottom:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
	color: #2f2f2f !important;
}

.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.social-grids {
	margin: 2em 0 0 0;
}

.social-info {
	float: left;
	width: 20%;
}

.social-info h4 {
	margin: .2em 0 0 0 !important;
	font-size: 1.2em;
}

.agileinfo-social-grids {
	float: left;
	margin: 0;
}

.agileinfo-social-grids ul {
	padding: 0;
	margin: 0;
}

.agileinfo-social-grids ul li {
	display: inline-block;
	margin: 0 .5em 0 0;
}

.agileinfo-social-grids ul li a {
	color: #FFFFFF;
	text-align: center;
}

.agileinfo-social-grids ul li a i.fa.fa-facebook,
.agileinfo-social-grids ul li a i.fa.fa-twitter,
.agileinfo-social-grids ul li a i.fa.fa-rss,
.agileinfo-social-grids ul li a i.fa.fa-vk {
	height: 30px;
	width: 30px;
	border: solid 2px #FFFFFF;
	line-height: 29px;
	background: none;
	color: #FFFFFF;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background: #3b5998;
	color: #FFFFFF;
}

.agileinfo-social-grids ul li a i.fa.fa-twitter:hover {
	border: solid 2px #55acee;
	background: #55acee;
	color: #FFFFFF;
}

.agileinfo-social-grids ul li a i.fa.fa-rss:hover {
	border: solid 2px #f26522;
	background: #f26522;
	color: #FFFFFF;
}

.agileinfo-social-grids ul li a i.fa.fa-vk:hover {
	border: solid 2px #45668e;
	background: #45668e;
	color: #FFFFFF;
}

/*---------------------------------------
      skills              
  -----------------------------------------*/
div.wrap_right {
	float: none;
}

section.bar {
	padding: 0;
}

section.wrap {
	padding: 0;
}


.wthree-about-left h3,
.wthree-about-right h3,
.w3-agileits-statistics-heading h3 {
	color: #2f2f2f;
	font-size: 2.5em;
	margin: 1em 0 .5em 0;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.wthree-about-left h3 {
	margin-bottom: 1em;
}

.wthree-about-left h4 {
	color: #2f2f2f;
	font-size: 1.2em;
	font-weight: 600;
	margin: 0;
	line-height: 1.5em;
}

.wthree-about-left p {
	color: #2f2f2f;
	font-size: 1.1em;
	margin: 3em 0 0 0;
	line-height: 1.8em;
	text-align: left;
}

.wthree-about-left p span {
	display: block;
	margin: 1em 0;
}

p.b_label {
	text-align: left;
	color: #421212;
	font-weight: 600;
}

.bar_label_min,
.bar_label_max {
	color: #545454;
	margin-top: 6px;
}


/*---------------------------------------
      projects             
  -----------------------------------------*/
#projects .section-title {
	text-align: center;
}

#projects .owl-theme .owl-nav {
	margin-top: 30px;
}

#projects .owl-theme .owl-nav [class*=owl-] {
	border-radius: 2px;
	font-size: 16px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
}

.projects-thumb {
	background: #f9f9f9;
	position: relative;
}

.projects-top {
	position: relative;
}

.projects-image {
	background: linear-gradient(to right, #202020, #101010);
}

.projects-date {
	background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 20px 25px;
}

.projects-date span,
.projects-author span {
	font-size: 14px;
	font-weight: bold;
}

.projects-date span {
	color: #ffffff;
	display: inline-block;
	margin-right: 10px;
}

.projects-detail {
	padding: 25px 25px 15px 25px;
}

.projects-detail h3 {
	margin: 0 0 2px 0;
	text-align: center;
}

.projects-info {
	border-top: 1px solid #f0f0f0;
	position: relative;
	clear: both;
	padding: 15px 25px;
}

.projects-author,
.projects-author span {
	display: inline-block;
	vertical-align: middle;
}

.projects-author img {
	display: inline-block !important;
	border-radius: 50px;
	width: 50px !important;
	height: 50px;
	margin-right: 10px;
}

.projects-price {
	float: right;
	margin-top: 10px;
}

.projects-price span {
	background: #1abc9c;
	border-radius: 2px;
	color: #ffffff;
	display: block;
	padding: 5px 10px;
}

.projects-price.free span {
	background: #3f51b5;
}

/* ----------------翻牌效果----------------- */
.wrapper {
	perspective: 800px;
	height: 300px;
}

.card {
	position: relative;
	transition: all 1s;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.wrapper:hover .card {
	transform: rotateY(180deg);
}

.card-face {
	position: absolute;
}

.card-front {
	border-radius: 50px;
}

.card-back {
	transform: rotateY(180deg);
}

.detail-wrapper {
	/* position: absolute;
	left: -345px; */
	background-color: rgba(255, 255, 255, 0.3);
	border: 2px solid #31adaf;
	border-radius: 33px;
}

.project-1 {
	background-color: #31b3a5;
}

.project-2 {
	background-color: #30a976;
}

.project-3 {
	background-color: #0376e9;
}

.detail-wrapper div {
	margin: 5px 10px;
}

/* -------------------翻牌效果end-------------- */



/*---------------------------------------
     NEWS              
  -----------------------------------------*/
.news-thumb {
	clear: both;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.news-thumb .news-image {
	float: left;
	width: 40%;
	margin-right: 30px;
}

.news-info h3 {
	margin-top: 5px;
	margin-bottom: 10px;
}

.news-date span {
	color: #909090;
	font-weight: bold;
}

/*---------------------------------------
      experience             
  -----------------------------------------*/
#experience .item {
	background: #ffffff;
	margin: 20px 0;
	padding: 4em 3em;
	text-align: left;
}

#projects .col-md-4,
#experience .col-md-4 {
	display: block;
	width: 100%;
}

#experience .item>p {
	font-size: 16px;
	line-height: 26px;
}

.item {
	border-radius: 10px;
}

.tst-rating {
	margin-bottom: 15px;
}

.tst-rating .fa {
	color: #3f51b5;
}

.tst-image,
.tst-author {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
	text-align: left;
}

.tst-image img {
	border-radius: 50px;
	width: 60px !important;
	height: 60px;
	margin-right: 15px;
}

.tst-author h4 {
	margin: 0;
}

.tst-author span {
	color: #808080;
	font-size: 14px;
}

/*---------------------------------------
      CONTACT             
  -----------------------------------------*/
#contact h2 {
	color: #ffffff;
}

#contact .section-title {
	padding-bottom: 20px;
}

#contact h2>small,
#contact p,
#contact h4,
#contact a {
	color: #f9f9f9;
}

#contact-form {
	padding: 1em 0;
}

#contact-form .col-md-12,
#contact-form .col-md-4 {
	padding-left: 0;
}

#contact-form .form-control {
	border: 0;
	border-radius: 5px;
	box-shadow: none;
	margin: 10px 0;
}

#contact-form input {
	height: 50px;
}

#contact-form input[type='submit'] {
	border-radius: 50px;
	border: 1px solid transparent;
}

#contact-form input[type='submit']:hover {
	background: transparent;
	border-color: #ffffff;
	color: #ffffff;
}

/*---------------------------------------
    FOOTER
  ----------------------------------------*/
#footer {
	text-align: center;
	background: #ca7122;
}

#footer p {
	color: #000;
	margin: 0;
}

/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/
.social-icon {
	position: relative;
	padding: 0;
	margin: 0;
}

.social-icon li {
	display: inline-block;
	list-style: none;
	margin-bottom: 5px;
}

.social-icon li a {
	border-radius: 100px;
	color: #1abc9c;
	font-size: 15px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	text-align: center;
	transition: all 0.4s ease-in-out;
	position: relative;
	margin: 5px 5px 5px 0;
}

.social-icon li a:hover {
	background: #1abc9c;
	color: #ffffff;
}

/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/
@media screen and (max-width: 1200px) {
	.custom-navbar .navbar-nav.navbar-nav-first {
		margin-left: inherit;
	}

	.w3l-banner-grids {
		margin: 2em 0 2em 0;
	}

	.card-back {
		width: 100%;
		font-size: .96em;
	}
}

@media only screen and (max-width: 992px) {

	section,
	footer {
		padding: 60px 0;
	}

	.home-slider .item {
		background-position: center center;
	}

	.feature-thumb,
	.about-info,
	.skills-thumb,
	.footer-info {
		margin-bottom: 50px;
	}

	.contact-image {
		margin-top: 50px;
	}

	.w3ls-banner-left {
		width: 35%;
	}

	.w3ls-banner-right {
		width: 65%;
	}

	.banner-right-img {
		float: none;
		width: 35%;
	}

	.banner-right-info {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}

	.w3-button {
		margin: 1em 0 0 0;
	}

	.social-info {
		float: left;
		width: 30%;
	}

	.w3l-banner-grids {
		margin: 2em 0 2em 0;
	}

	.card-back {
		width: 80%;
		left: 10%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.custom-navbar .nav li a {
		padding-right: 10px;
		padding-left: 10px;
	}

	div.wrap_right {
		width: 700px;
	}

	.w3l-banner-grids {
		margin: 2em 0 2em 0;
	}

}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 2.5em;
	}

	h1,
	h2,
	h3 {
		line-height: normal;
	}

	.custom-navbar {
		background: #ffffff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		padding: 10px 0;
		text-align: center;
	}

	.custom-navbar .navbar-brand,
	.custom-navbar .nav li a {
		line-height: normal;
	}

	.custom-navbar .nav li a {
		padding: 10px;
	}

	.custom-navbar .navbar-brand,
	.top-nav-collapse .navbar-brand {
		color: #252525;
		font-weight: 600;
	}

	.custom-navbar .navbar-brand img {
		position: relative;
		top: -10px;
	}

	.custom-navbar .nav li a,
	.top-nav-collapse .nav li a {
		color: #575757;
	}

	.custom-navbar .navbar-nav.navbar-right li {
		display: inline-block;
	}

	.footer-info {
		margin-right: 0;
	}

	.footer-info.newsletter-form {
		margin-bottom: 0;
	}

	.entry-form {
		display: block;
		margin: 0 auto;
	}

	.w3l-banner-grids {
		margin: 2em 0 2em 0;
	}
}

@media only screen and (max-width: 580px) {
	h2 {
		font-size: 1.8em;
	}

	#experience .item {
		padding: 2em;
	}

	.contact-image {
		margin-top: 0;
	}

	.w3l-banner-grids {
		margin: 2em 0 2em 0;
	}

	.social-info {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 2em;
	}

	#home h3 {
		font-size: 14px;
	}

	.entry-form {
		border-radius: 0;
		padding: 2em;
		max-width: 100%;
		max-height: 100%;
		width: inherit;
		height: inherit;
	}

	.banner-right-img {
		width: 45%;
	}

	.w3ls-banner-left {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}

	.w3ls-banner-right {
		width: 100%;
		float: none;
	}

	.banner-right-img {
		width: 36%;
		margin: 0 auto;
	}

	.w3l-banner-grids {
		margin: 2em 0 2em 0;
	}

	.social-info {
		margin-right: 15px;
	}

	.card-back {
		width: 90%;
	}
}